.imageCaptureContainer {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.imageCaptureContainer button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(55, 55, 190);
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border: none;
    color: white;
}

.reportSection button {
    width: 250px;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(116, 110, 186);
    color: white;
}

.ImageSection {
    display: flex;
    width: 50%;
    margin: auto;
    padding: 40px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    width: 30%;
    margin: auto;
    font-size: 20px;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
    list-style: none;
}

.link{
    text-decoration: none;
}


